/* header styling */

header {
    /* box-sizing: border-box; */
    text-align: center;
    font-size: 20pt;
    line-height: 10vh;
    text-transform: uppercase;
    color: rgb(239, 242, 192);
    background-color: rgb(25, 41, 124);
}

html, body {
    margin: 0px;
    background-color: rgb(180, 225, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#gameArea {
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

#startArea {
    text-align: center;
}

#guessArea {
    padding-top: 100px;
    text-align: center;
}

h3 {
    text-align: center;
}

#btn {
    margin-top: 10px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

#scoreboard {
    float: left;
    margin: 10px;
}

#livesboard {
    float: right;
    margin: 10px;
}

/* #startBtn Styling */

#startBtn {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

#startBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#startBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

#startBtn:hover {
    background-color: #e8a8eb;
}

#startBtn:hover span {
    padding-right: 25px;
}

#startBtn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Reset button styling*/

#reset-button {
    position: relative;
    background-color: #f79526;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 7px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #ca701d;
}

#reset-button:after {
    content: "";
    background: #dbdbdb;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#reset-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* guess button styling */
#guess-button {
    position: relative;
    background-color: #3e97ca;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 7px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#guess-button:hover {
    background-color: #224c8a;
}

#guess-button:after {
    content: "";
    background: #66c0fc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#guess-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}